.QuerySuggestions {
  border: 1px solid #ccc;
  width: 268px;
  overflow: hidden;
  background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.QuerySuggestions-select {
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.QuerySuggestions-select:focus {
    outline: none;
}
