.map {
  display: inline-block;
  height: 700px;
  float: left;
  width: 50%;
}

.map--container {
  height: 100%;
}

.map--element {
  height: 100%;
}

@media (max-width: 768px) {
  .map {
    height: 300px;
    width: 100%;
  }
}
