html {
  box-sizing: border-box;
}

.App {
  overflow: auto;
  margin-bottom: 20px;
}

.App-header {
  background-color: #222;
  text-align: center;
  padding: 20px;
  color: white;
}

.App-subHeader {
  margin: 0;
}

.App-body {
  overflow: auto;
}

@media (min-width: 980px) {
  .App-body {
      margin: 20px;
  }
}

.queryButton {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  padding: 12px 12px;
}
